version: "2.4"
services:
  api:
    build: .
    network_mode: "host"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - DOTNET_GCHeapHardLimitPercent=75
    mem_limit: 150MB
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
